In [9]:
import pandas as pd

In [74]:
pd.set_option('display.max_colwidth', 300)

In [82]:
df1 = pd.read_csv('rt-polarity_neg.txt', encoding='iso-8859-1', on_bad_lines='skip', header=None, sep='\t')

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5331 entries, 0 to 5330
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5331 non-null   object
dtypes: object(1)
memory usage: 41.8+ KB

In [84]:
df1.head(5)

                                                                                                                                            0
0                                                                                                           simplistic , silly and tedious .
1                                                            it's so laddish and juvenile , only teenage boys could possibly find it funny .
2  exploitative and largely devoid of the depth or sophistication that would make watching such a graphic treatment of the crimes bearable .
3         [garbus] discards the potential for pathological study , exhuming instead , the skewed melodrama of the circumstantial situation .
4                                       a visually flashy but narratively opaque and emotionally vapid exercise in style and mystification .

In [79]:
df2 = pd.read_csv('rt-polarity_pos.txt', encoding='iso-8859-1', on_bad_lines='skip', header=None, sep='\t')

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5331 entries, 0 to 5330
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5331 non-null   object
dtypes: object(1)
memory usage: 41.8+ KB

In [102]:
# Add a new 'label' column
df1['label'] = [0]*len(df1)
df2['label'] = [1]*len(df2)

df = pd.concat([df1, df2], axis=0)

df = df.rename(columns={0: 'text'})

# Print the resulting dataframe
df.head()

,text,label
0,"simplistic , silly and tedious .",0
1,"it's so laddish and juvenile , only teenage boys could possibly find it funny .",0
2,exploitative and largely devoid of the depth or sophistication that would make watching such a graphic treatment of the crimes bearable .,0
3,"[garbus] discards the potential for pathological study , exhuming instead , the skewed melodrama of the circumstantial situation .",0
4,a visually flashy but narratively opaque and emotionally vapid exercise in style and mystification .,0

In [95]:
df.groupby('label').size()

label
0    5331
1    5331
dtype: int64